{{ define "main" }}
  <div class="main">
    {{/*  <h1 class="section__title" style="text-align: center;">Welcome.</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>  */}}
{{/*
    <div class="box width_330px">
      <img src="images/me/cool10.jpg"/>
      <p class="small__text">Sponsor this man, please.</p>
    </div>  */}}

    {{/*  <div class="box width_330px">
      <p class="text">How to kill a Chinaman is a novel.</p>
    </div>  */}}

    <div style="padding-top: 0rem;" class="section__part">
      <div class="box">
        <h2>How to kill a Chinaman is a novel.</h2>

        <p class="text">It presents in first-person the thoughts and narratives of an unidentified character with severe mental health issues.</p>
        <p class="text">The intention of the novel is to take you through a provocative theme-park of cynicism, violence and mania. I suppose you could describe it as a delicious free-for-all.</p>
        <p class="text">The novel has largely been inspired by the events of my own life, as well as the writing styles of William S. Burroughs' novel, Naked Lunch.</p>
        <p class="text">I imagine the manuscript will be finished sometime in 2021.</p>

        <p class="hashtag">#howtokillachinaman</p>
      </div>
      <div class="centre">
        <img class="box width_330px" src="images/htkac/cover_alt.png" />
        {{/*  <div class="links__bottom homepage__links__other">
          <a href="https://thewritersdaily.juliusreade.com">Website</a>
        </div>  */}}
      </div>
    </div>
{{/*
    <div class="section__border__margin"></div>
    <h1 class="section__title">When will it be available?</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>  */}}

  </div>
{{ end }}